@mixin fontSize($fontsize:12px) {
  font-size: $fontsize;
}

@mixin containerSize($width: 100%, $height: 100%) {
  width: $width;
  height: $height;
}

@mixin flexLayout($drec: row) {
  display: flex;
  flex-direction: $drec;
  justify-content: space-between;
}

@mixin pos($rowDrec: left, $rowval: 0, $colDrec: top, $colval: 0) {
  position: absolute;
  #{$rowDrec}: $rowval;
  #{$colDrec}: $colval;
}
