<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/videoshare.css">
</head>

<body>
    <div class="container" id="info">
    </div>
    <div class="download g-clearfix">
        <dl class="g-fl g-clearfix">
            <dt class="g-fl down-logo"><img src="images/logo.png"></dt>
            <dd class="g-fl">
                <h2 class="down-name">lauging</h2>
                <p class="down-desc">Did you laugh today？</p>
            </dd>
        </dl>
        <button class="g-fr down-url">下载App</button>
    </div>
    <p class="tip-info g-tac"></p>
    <script type="text/html" id="tplInfo">
       <video class="info-video" loop autoplay="true" controls="true">
          <source src="{{dst}}">
          您的浏览器不支持 HTML5 video 标签。
        </video>
        <p class="info-text">{{each tags tag}}<span class="info-tag">{{tag.content}}</span>{{/each}} Sometimes I wonder what it would be like to be a dog  </p>
        <p class="info-val">
            <!-- <% for(var i = 0; i < smile; i++){ %>
                <%= img class="g-fl" src="images/xiaodian.png" alt=""%>
            <% } %> -->
            {{each smile}}
                <img class="g-fl" src="images/xiaodian.png" alt="">
            {{/each}}
            <span class="g-fl">11098views</span>
        </p> 
    </script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/template.js"></script>
    <script type="text/javascript" src="js/cgi.js"></script>
    <script type="text/javascript" src="js/md5.js"></script>
    <script type="text/javascript">
        adapt();
        var id = ~~(CGI.query().id);
        var ts = new Date().getTime()
        var param = {
            ts: ts,
            id: id,
            nonce:  hex_md5(ts.toString()+Math.random(0,1000000).toString()),
        }
        CGI.post('get_share_detail',{id: id}, function(resp) {
          if (resp.errno === 0) {
            var data = resp.data;
            $('.container').append(template('tplInfo', data));
          } else {
            tipShow(resp.desc);
          }
        })
        function adapt() {
          if (document && window) {
            // init font
            var docEl = document.documentElement;
            var isIOS = navigator.userAgent.match(/iphone|ipod|ipad/gi);
            var dpr = isIOS ? Math.min(window.devicePixelRatio, 3) : 1;
            dpr = window.top === window.self ? dpr : 1; //被iframe引用时，禁止缩放
            var scale = 1 / dpr;
            var resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize';

            docEl.dataset.dpr = dpr;
            var metaEl = document.createElement('meta');
            metaEl.name = 'viewport';
            metaEl.content = 'initial-scale=1,maximum-scale=1, minimum-scale=1';
            docEl.firstElementChild.appendChild(metaEl);
            var recalc = function() {
                var width = docEl.clientWidth;
                if (width / dpr > 750) {
                    width = 750 * dpr;
                }
                docEl.style.fontSize = 100 * (width / 750) + 'px';
            };
            recalc();
            if (!document.addEventListener) return;
            window.addEventListener(resizeEvt, recalc, false);
          }
        }


        function tipShow(val) {
          $('.tip-info').text(val);
          $('.tip-info').show();
          setTimeout(function() {
            $('.tip-info').hide();
          }, 2000);
        }
    </script>
    </script>
</body>

</html>
