body {
 max-width: 740px;
 height: auto;
 margin: 0 auto;
}
.phone-container {
  width: 100%;
  height: auto;
  padding: 0.15rem;
  margin: 0 auto;
}

.head-img {
  width: 100%;
  height: auto;
}
.info-tit {
  width: 100%;
  margin:  0.15rem auto 0.3rem;
  font-size: 0.18rem;
  line-height: 150%;
}
.video-list  {
  margin-top: 0.15rem;
}
.video-l {
  width: 46%;
  height: auto;
}
.video-l a {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}
.video-img {
  width: 100%;
  height: auto;
  display: block;
}
.play-ico {
  width: 0.32rem;
  height: 0.32rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.video-r {
  width: 54%;
  height: auto;
  padding-top: 0.15rem;
  padding-left: 0.1rem;
}
@media screen and (max-width: 320px){
  .video-r {
    padding-top: 0;
  }
}

.video-tit {
  font-size: 0.14rem;
  line-height: 150%;
  color: rgb(36, 36, 39);
}
@media screen and (min-width: 750px){
  .video-tit {
    font-size: 0.24rem;
  }
  .info-tit  {
    font-size: 0.3rem;
  }
}
.video-btn {
  display: block;
  width: 0.8rem;
  line-height: 0.32rem;
  margin-top: 0.05rem;
  border-radius: 0.06rem;
  font-size: 0.16rem;
  color: #fff;
  background-color: #c029f3;
}
.video-btn:active {
  background-color: #c01ccc;
}
.foot-link{
  display: block;
  width: 100%;
  height: auto;
  margin-top: 0.15rem;
}

