body {
 max-width: 1030px;
 height: auto;
 margin: 0 auto;
}
.phone-container {
  width: 100%;
  height: auto;
  padding: 0.3rem;
  margin: 0 auto;
}

.head-img {
  width: 100%;
  height: auto;
}
.info-tit {
  width: 100%;
  margin:  0.3rem auto 0.6rem;
  font-size: 0.36rem;
  line-height: 0.48rem;
}
.video-list  {
  margin-top: 0.3rem;
}
.video-l,
.video-l a {
  width: 3.2rem;
  height: auto;
}
.video-l a {
  display: block;
  position: relative;
}
.video-img {
  width: 100%;
  height: auto;
  display: block;
}
.play-ico {
  width: 0.64rem;
  height: 0.64rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.video-r {
  width: 3.5rem;
  height: auto;
  padding-top: 0.3rem;
  margin-left: 0.2rem;
}
@media screen and (min-width: 750px) and (max-width: 1024px){
  .video-l,
  .video-l a {
    width: 2.8rem;
  }
  .video-r {
    width: 3.6rem;
    padding-top: 0.2rem;
  }
}
@media screen and (min-width: 1025px) {
  .video-l,
  .video-l a {
    width: 2.8rem;
  }
  .video-r {
    width: 5rem;
    padding-top: 0.2rem;
  }
}
.video-tit {
  font-size: 0.28rem;
  line-height: 150%;
  color: rgb(36, 36, 39);
}
.video-btn {
  display: block;
  width: 1.6rem;
  line-height: 0.64rem;
  margin-top: 0.1rem;
  border-radius: 0.12rem;
  font-size: 0.32rem;
  color: #fff;
  background-color: #c029f3;
}
.foot-link{
  display: block;
  width: 100%;
  height: auto;
  margin-top: 0.3rem;
}

