html,body {
  width: 100%;
  min-height: 100%;
  max-width: 740px;
  background-color: #fff;
  margin: 0 auto;
}
body {
  padding-bottom: 0.16rem;
  overflow-x: hidden;
}
.container {
  width: 100%;
  max-width: 740px;
  height: auto;
  padding-top: 1.24rem;
}
.info-video {
  display: block;
  width: 100%;
  height: auto;
}
.info-text {
  width: 92%;
  height: auto;
  margin: 0.6rem auto 0.28rem;
  font-size: 0.36rem;
  line-height: 0.48rem;
  color: rgb(36,36,39);
}
.info-tag {
  color: rgb(36,108,205);
}
.info-val {
  width: 92%;
  height: 0.4rem;
  margin: 0 auto;
}
.info-val img {
  width: 0.36rem;
  height: 0.36rem;
}
.info-val span {
  line-height: 0.36rem;
  font-size: 0.28rem;
  color: rgb(184,178,180);
  margin-left: 0.2rem;
}
.download {
  width: 100%;
  max-width: 740px;
  height: 1.24rem;
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 0.16rem 0.2rem;
  background-color: #fff;
}

.down-logo {
  width: 0.92rem;
  height: 0.92rem;
  margin-right: 0.2rem;
}
.down-logo img {
  width: 100%;
  height: 100%;
}
.down-name {
  margin-top: 0.1rem;
  font-size: 0.4rem;
}
.down-desc {
  font-size: 0.28rem;
  color: rgb(36, 36, 39);
}
.down-url {
  display: block;
  margin-top: 0.08rem;
  width: 1.84rem;
  height: 0.76rem;
  border-radius: 0.5rem;
  line-height: 0.76rem;
  font-size: 0.32rem;
  color: #000;
  background-color: rgb(255, 248, 50);
}
/* @media screen and (min-width: 740px){
  .down-logo {
    width: 0.5rem;
    height: 0.5rem; 
    margin-top: 0.2rem;
  }
} */
.tip-info {
  width: 140px;
  padding: 10px;
  position: absolute;
  top:  50%;
  left: 50%;
  margin-left: -70px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.6);
  background-color: #6b6b6b\0;
  +background-color: #6b6b6b;
  color: #fff;
  border-radius: 5px;
  display: none;
}



